$header-width: 100% !default;
$header-background: 'primary' !default;
$header-color: 'white' !default;
$header-padding: get-spacing('md') 0 !default;

$header-is-sticky: false !default;

.header {
  background: theme-get-color($header-background);
  color: theme-get-color($header-color);

  padding: $header-padding;

  width: $header-width;

  @if $header-is-sticky {
    position: sticky;
    top: 0;
  }
}
